lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map

.DS_Store

pids
logs
results

npm-debug.log
node_modules

tmp/no/*/*
tmp/moji/*/*
dist/out/*.gif

vendor/rounded_outline_fonts
vendor/rounded-mplus-x-20130705
