lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results

npm-debug.log
node_modules

tmp/nonnon/*.png
tmp/moji/*.png

vendor/rounded_outline_fonts
vendor/rounded-mplus-x-20130705
